<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">
            jdbc:postgresql://ec2-34-235-198-25.compute-1.amazonaws.com:5432/ddd88hlsi18tn7
        </property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">ihgfwqtptjwyli</property> <!-- DB User -->
        <property name="connection.password">a03f2586d8b5550d68fd62f29728add992e6c44e15e528a5a1b51bd24de03eea
        </property> <!-- DB Password -->

        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->
        <property name="hibernate.default_schema">hibernate_db</property>
        <mapping class="me.zuif.hw2.model.Invoice"/>
        <mapping class="me.zuif.hw2.model.Product"/>
        <mapping class="me.zuif.hw2.model.pen.Pen"/>
        <mapping class="me.zuif.hw2.model.tea.Tea"/>
        <mapping class="me.zuif.hw2.model.phone.Phone"/>

    </session-factory>
</hibernate-configuration>